<!DOCTYPE HTML>
<html>

<head>
  <title>NeoPixel Driver</title>
  <meta name="description" content="ODrive Web Driver" />
  <meta name="keywords" content="ODrive" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">ODrive<span class="logo_colour">Web Driver</span></a></h1>
          <h2>Web ODrive Interface</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li><a href="/config">Configuration</a></li>
          <li><a href="/docs">Documentation</a></li>
          <li class="selected"><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
    
    <table>
      <tr>
        <td>Email:</td>
        <td>info@wbavproductions.co.uk</td>
      </tr>
      <tr>
        <td>Web:</td>
        <td><a href='http://wbavproductions.co.uk/NeoPixels.html'> WbAVProductions.co.uk</a></td>
      </tr>
    </table>

    </div>
    <div id="footer">
      Copyright &copy; WbAV Productions | <a href="http://wbavproductions.co.uk">WbAV Productions</a> 
    </div>
  </div>
</body>
</html>
