<!DOCTYPE HTML>
<html>

<head>
  <title>ReFlash Dolly Control</title>
  <meta name="description" content="ODrive Web Driver" />
  <meta name="keywords" content="ODrive" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>

<body>

<script>
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
    socket.emit('message', {data: 'main index page'});
    load_journey();
    console.log("Asked to connect");
});


socket.on('message', function(e){
  console.log("Got Message:", e.status);
  $('#connection_status').text(e.status);
});

socket.on('Position', function(e){
  console.log("Got Position:", e.position);
  console.log("Got Location:", e.location);
  $(e.location).val(e.position);
});


socket.on('motor_data', function(e){
  console.log("Got data:", e);
  $('#Volts').text(e.volts + 'V');
  $('#Current').text(e.current_limit + 'A');
  $('#Speed').text(e.speed + 'PPS');
  $('#state').text(e.state);
  $('#rotation_velocity').text(e.rotation_velocity + 'PPS');
  $('#estimated_pos').text(e.estimated_pos);
  pos_mm(e.estimated_pos,e.mm_per_step);
  $('#A1').text(e.A1);
  $('#V1').text(e.V1);
  $('#AMAX').text(e.AMAX);
  $('#VMAX').text(e.VMAX);
  $('#DMAX').text(e.DMAX);
  $('#D1').text(e.D1);
  $('#command_current').text(e.command_current + 'A');
  $('#measured_current').text(e.measured_current + 'A');
  $('#idle').text(e.idle);
});

// This seems lame! but 10 seconds isn't so much load
setInterval(function(){
  socket.emit('get_data',{'data': 'Asked for odrive_data'})
  }
  ,1000);

</script>
<script>

function pos_mm(pos,mm_factor) {
    mm_pos = parseInt(pos,10) * parseFloat(mm_factor);
    $('#pos_mm').text(mm_pos.toFixed(2));
}

function journey(data_id) {
    to_pos = $('#' + data_id).val();
    if (to_pos == '') {
        alert("Please enter a Position");
        return;
    }
    speed = $('#' + data_id + 'speed').val();
    socket.emit('do_job',{'trajectory_to': to_pos+'/'+speed});
}

function read_pos(data_id) {
    socket.emit('read_pos',{'location': '#' + data_id}) ;  // ask odrive what the current position is, to be returned named data_is
}

function save_journey() {
  console.log("Save Journey")
  socket.emit('save_journey',{
    'number1' : $('#number1').val(),
    'number1speed' : $('#number1speed').val(),
    'number2' : $('#number2').val(),
    'number2speed' : $('#number2speed').val(),
    'number3' : $('#number3').val(),
    'number3speed' : $('#number3speed').val(),
    'number4' : $('#number4').val(),
    'number4speed' : $('#number4speed').val(),
  });
}

function load_journey() {
  console.log("Request to load Journey");
  socket.emit('load_journey',{'journey_file':'default'});
}

socket.on('load_journey',function(e){
  console.log("Got journey data:", e);
  $.each(e, function(key, value){
    $('#'+key).val(value) ;
  });
});


</script>


  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">ReFlash<span class="logo_colour">Web Driver</span></a></h1>
          <h2>Dolly Motor Control</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="/config">Configuration</a></li>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Information</h3>
        <h4>Version 0.8 Test</h4>
        <h5>August 7th, 2019</h5>
        <p>Alpha Testing</a></p>
        <p></p>
    
        <h3>Source Code</h3>
        <ul>
          <li><a href="https://github.com/AndyThirtover/ODrive-Web">GitHub Project</a></li>
        </ul>
      </div>
      <div id="content">
<table>
  <tr>
    <th colspan='4'>DRIVE PARAMETERS</th>
  </tr>
  <tr>
    <td>BUS VOLTS</td><td class='value' id='Volts'>No Reading</td>
    <td>TO POS SPEED LIMIT</td><td class='value' id='Speed'>No Reading</td>
  </tr>
  <tr>
    <td>ROTATION VELOCITY</td><td class='value' id='rotation_velocity'>No Reading</td>
    <td>POSITION uSTEPS</td><td class='value' id='estimated_pos'>No Reading</td>
  </tr>
  <tr>
    <td>STATE</td><td class='value' id='state'>No Reading</td>
    <td>IDLE</td><td class='value' id='idle'>No Reading</td>
  </tr>
  <tr>
    <th colspan='4'>TRINAMIC Registers</th>
  </tr>
  <tr>
    <td>A1 - init acceleration</td><td class='value' id='A1'>No Reading</td>
    <td>V1 - changeover speed</td><td class='value' id='V1'>No Reading</td>
  </tr>
  <tr>
    <td>AMAX - max acceleration</td><td class='value' id='AMAX'>No Reading</td>
    <td>VMAX - max velocity</td><td class='value' id='VMAX'>No Reading</td>
  </tr>
  <tr>
    <td>DMAX - max deceleration</td><td class='value' id='DMAX'>No Reading</td>
    <td>D1 - final deceleration</td><td class='value' id='D1'>No Reading</td>
  </tr>
  <tr>
    <th colspan='4'>DRIVE STATE</th>
  </tr>
  <tr>
    <td width='25%' class='button' onclick="socket.emit('do_job',{'set_state': 'RUN'});"> ENABLE DRIVE </td>
    <td width='25%' class='button' onclick="socket.emit('do_job',{'set_state': 'IDLE'});"> IDLE DRIVE </td>
    <td>POSITION mm</td><td class='value' id='pos_mm'>No Reading</td>
  </tr>
</table>
<table width='800'>
  <tr>
    <th width='33%'>JOURNEY</th>
    <th width='33%'>POSITION mm</th>
    <th width='33%'>SPEED uSteps</th>
  </tr>
  <tr>
    <td class='go_button' onclick="journey('number1');" >Goto NO.1 </td> 
    <td><input id='number1'></input> </td>
    <td><input id='number1speed' value='80000'></input> </td>     
  </tr>
  <tr>
    <td class='go_button' onclick="journey('number2');" >Goto NO.2 </td> 
    <td><input id='number2'></input> </td>
    <td><input id='number2speed' value='80000'></input> </td>     
  </tr>
  <tr>
    <td class='go_button' onclick="journey('number3');" >Goto NO.3 </td> 
    <td><input id='number3'></input> </td>
    <td><input id='number3speed' value='80000'></input> </td>     
  </tr>
  <tr>
    <td class='go_button' onclick="journey('number4');" >Goto NO.4 </td> 
    <td><input id='number4'></input> </td>
    <td><input id='number4speed' value='80000'></input> </td>     
  </tr>
  <tr>
    <td class='button' onclick="save_journey();">SAVE JOURNEY</td>
    <td class='button' onclick="load_journey();">LOAD JOURNEY</td>
  </tr>
  

</table>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; WbAV Productions | <a href="http://wbavproductions.co.uk">WbAV Productions</a> 
    </div>
  </div>
</body>
</html>
